{% extends "::base.html.twig" %}
{% block body %}
    <p class="wrapped relative" style="min-height: 130px; font-size: 30px;padding: 2em">
        <span>
            <span class="ribbon"><span class="ribbon-inner red-gradient glossy">403</span></span>
            <br />
            <br />
            <br />
            <span class="icon-warning red icon-size2 "></span>
            {{ 'app.http.error.403'|trans|raw }}
        </span>
    </p>
{% endblock body %}