{% extends "CoramerSigtecWebBundle::layout.html.twig" %}
{% block title %}Principal{% endblock %}
{% block content %}
    {% block mainTitle %}
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
        <hgroup id="main-title" class="thin">
                <h1>Dashboard</h1>
                <h2>nov <strong>10</strong></h2>
        </hgroup>
    {% endblock %}
    Contenido principal
    Contenido principal
    Contenido principal
    Contenido principal
    Contenido principal
    Contenido principal
    Contenido principal
{% endblock %}