{% extends 'CoramerSigtecWebBundle:Backend:Common/formLayout.html.twig' %}

{% block body %}
<hgroup id="main-title" class="thin breadcrumb">
    <h1>
        <a href="{{ path('fos_user_profile_show') }}">{{ 'sigtec.profile'|trans }}</a>
        <span class="icon-forward"></span>
        <span class="thin">{{ 'sigtec.profile.update'|trans }}</span>
    </h1>
</hgroup>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock body %}
