# This file is part of the SmsFacilito.
# (c) tecnocreaciones.com.ve

default:
    context:
        class: Coramer\Sigtec\WebBundle\Behat\FeatureContext
    extensions:
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                env: test
                debug: true
        Behat\MinkExtension\Extension:
            base_url: http://localhost/symfony/sigtec/web/app_test.php
            default_session: symfony2
            browser_name: chrome
            goutte: ~
            selenium2: ~
        VIPSoft\DoctrineDataFixturesExtension\Extension:
            lifetime:    feature
            autoload:    true
            directories: ~
            fixtures: ~