<div class="field-block button-height wizard-controls align-right">
    <a href ng-click="save()" class="button glossy mid-margin-right">
        <span class="button-icon green-gradient"><span class="icon-tick"></span></span>
            {{ 'tecnocreaciones_vzla_government.save'|trans({},'messages') }}
    </a>
    <button type="submit" class="button glossy mid-margin-right">
        <span class="button-icon red-gradient glossy"><span class="icon-cross-round"></span></span>
            {{ 'tecnocreaciones_vzla_government.save_and_close'|trans({},'messages') }}
    </button>
</div>