{% extends 'CoramerSigtecWebBundle:Backend:Common/formLayout.html.twig' %}

{% block body -%}
    <h3 class="thin underline"><a href="{{ path('coramer_sigtec_company_index') }}">Empresas</a> >> {{ 'sigtec.company_registration'|trans }}</h3>
    <form method="POST" action="{{ path('coramer_sigtec_company_create') }}">
    {% include 'CoramerSigtecWebBundle:Backend:Company/_form.html.twig' with {'action':'create'} %}
    </form>
{% endblock %}
