{% extends 'CoramerSigtecWebBundle:Backend:Common/tableFormat1.html.twig' %}
{% block body -%}
    <h1>Company list</h1>

        <div ng-controller="TableFormatController">
            <div loading-container="tableParams.settings().$loading">
                <table ng-table="tableParams" template-pagination="custom/pager"  template-header="custom/header" api-data-url="{{ path('coramer_sigtec_company_index',{_format:'json'}) }}" class="table table-responsive table-extra-info">
                    <tr ng-repeat="result in $data | filter:tableParams.search" data="[[ result|json ]]">
                        <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                            <input type="checkbox" ng-model="checkboxes.items[result.id]" />
                        </td>
                        <td data-title="'Name'" sortable="'name'">
                            [[result.name]]
                        </td>
                        <td data-title="'Rif'" sortable="'rif'">
                            [[result.rif]]
                        </td>
                        <td data-title="'Rif Validated'" sortable="'rifValidated'">
                            [[ result.rif_validated ]]
                        </td>
                        <td data-title="'Status'" sortable="'status'">
                            [[ result.status ]]
                            <small class="tag">User</small> <small class="tag">Client</small> <small class="tag green-bg">Valid</small>
                        </td>
                        <td class="low-padding">
                            <span class="select compact full-width" tabindex="0">
                                <a href="[[ result._links.edit.href ]]" class="select-value">Edit</a>
                                <span class="select-arrow"></span>
                                <span class="drop-down">
                                    <a href="javascript:void(0);">Put offline</a>
                                    <a href="javascript:void(0);">Review</a>
                                    <a href="javascript:void(0);">Put to trash</a>
                                    <a href="[[ result._links.delete.href ]]">Delete</a>
                                </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <ul>
            <li>
                <a href="{{ path('coramer_sigtec_company_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
{% endblock %}